{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'wiki.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
<script src="{% static 'js/wiki.js' %}"></script>
<title>파일 올리기 | LYnMedia</title>
{% endblock %}
{% block content %}
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="active item"><i class="home icon"></i>LYnMedia</a>
</div>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="active item" href="/">LYnMedia</a>
            </div>
        </div>
    </div>
    <div class="header">
        <h1>파일 올리기</h1>
    </div>
    <div class="content article-description">
        {% if error == 409 %}
        <div class="ui icon negative message">
            <i class="warning circle icon"></i>
            <div class="content">
                <div class="header" id="error-msg">
                    업로드 실패
                </div>
                <p>중복되는 파일 제목입니다. 다른 제목으로 다시 시도해주세요.</p>
            </div>
        </div>
        {% endif %}
        <form class="ui form" action="/v1/media/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="title" value={{ title }}>
            <div class="field">
                <label>파일 제목</label>
                <p>이곳에 입력한 제목으로 URL이 생성됩니다.</p>
                <input type="text" name="title" />
            </div>
            <div class="field">
                <label>파일 첨부</label>
                <input type="file" name="file" accept="image/*" />
            </div>
            <div class="field">
                <input type="submit" value="올리기!" class="ui fluid large blue submit button" />
            </div>
        </form>
    </div>
</div>
{% endblock %}