{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'wiki.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
<script src="{% static 'js/wiki.js' %}"></script>
<title>파일 올리기 | LYnMedia</title>
{% endblock %}
{% block content %}
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="active item"><i class="home icon"></i>LYnMedia</a>
</div>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="active item" href="/">LYnMedia</a>
            </div>
        </div>
    </div>
    <div class="header">
        <h1>업로드 완료</h1>
    </div>
    <div class="content article-description">
        <p>업로드가 완료되었습니다!<br/>
        LYnLab 사이트 내부에서 사용하실 경우 다음의 주소로 불러오실 수 있습니다.</p>

        <code>/media/{{ title }}</code>

        <p>외부에서 사용하실 경우 다음의 URL로 이용하실 수 있습니다.</p>

        <code>http://lynlab.co.kr/media/{{ title }}</code>
    </div>
</div>
{% endblock %}