{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'detail.css' %}">
<link rel="stylesheet" href="{% static 'wiki.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
<script src="{% static 'js/blog.js' %}"></script>
<script src="{% static 'js/wiki.js' %}"></script>
<title>관리자 페이지 | LYnTimeline</title>
{% endblock %}
{% block content %}
{% include 'blog/admin/_mobilebar.html' %}
<div class="pusher">
    {% include 'blog/admin/_desktopbar.html' %}
    <div class="content article-description">
        <h1>포스트 편집</h1>
        <form class="ui form" action="{% url 'api_blogcreate' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ post.id }}"></input>
            <div class="field">
                <label>제목</label>
                <input type="text" name="title" value="{{ post.title }}"></input>
            </div>
            <div class="inline fields">
                {% for type, post in types %}
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="type{{ type.id }}" {% if post %}checked{% endif %}>
                        <label>{{ type.name }}</label>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="field">
                <label>본문</label>
                <textarea name="content" rows="15">{{ post.content }}</textarea>
            </div>
            <div class="field">
                <label>요약</label>
                <textarea name="description" rows="3">{{ post.description }}</textarea>
            </div>
            <div class="field">
                <label>태그</label>
                <input type="text" name="tags" value="{{ post.tags }}"></input>
            </div>
            <div class="field">
                <label>유형</label>
                <input type="text" name="posttype" value="{{ post.posttype }}"></input>
            </div>
            <div class="field">
                <label>미리보기 이미지</label>
                <input type="text" name="preview" value="{{ post.preview }}"></input>
            </div>
            <div class="field">
                <button type="button" onclick="window.open('/media/upload/')" class="ui button">
                    <i class="photo icon"></i>
                    사진 올리기
                </button>
                <div class="ui checkbox">
                    <input type="checkbox" name="public_post" {% if post.public_post %}checked{% endif %}></input>
                    <label>공개 문서</label>
                </div>
            </div>
            <div class="field">
                <input type="submit" value="수정 완료!" class="ui fluid large blue submit button" />
            </div>
        </form>
    </div>
</div>
{% endblock %}