{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="{% static 'js/editor.js' %}"></script>
<script type="text/javascript">
  $('.ui.dropdown').dropdown();
</script>
<title>관리자 페이지 | LYnTimeline</title>
{% endblock %}
{% block content %}
{% include 'blog/admin/_mobilebar.html' %}
<div class="pusher">
  {% include 'blog/admin/_desktopbar.html' %}
  <div class="ui text container content">
    <h1>포스트 편집</h1>
    <form class="ui form" action="{% url 'blog-admin-create-post' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="id" value="{{ post.id }}"/>
      <div class="fields">
        <!-- 카테고리 -->
        <div class="four wide field">
          <label>카테고리</label>
          <select class="ui fluid dropdown" name="category">
            <option value="">카테고리</option>
            {% for category in categories %}
            <option value="{{ category.url }}" {% if category == post.category %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- 제목 -->
        <div class="twelve wide field">
          <label>제목</label>
          <input type="text" name="title" value="{{ post.title }}"/>
        </div>
      </div>

      <!-- 시리즈 -->
      <div class="field">
        <label>시리즈</label>
        <select class="ui fluid dropdown" name="series">
          <option value="">시리즈</option>
          <option value="-1" {% if series == post.series %}selected{% endif %}>선택 안함</option>
          {% for series in series_list %}
          <option value="{{ series.id }}" {% if series == post.series %}selected{% endif %}>{{ series.name }}</option>
          {% endfor %}
        </select>
      </div>

      <!-- 유형 -->
      <div class="inline fields">
        {% for type, post in types %}
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="type{{ type.id }}" {% if post %}checked{% endif %}>
            <label>{{ type.name }}</label>
          </div>
        </div>
        {% endfor %}
      </div>

      <!-- 본문 -->
      <div class="field">
        <label>본문</label>
        <textarea id="field-content" name="content" rows="15">{{ post.content }}</textarea>
      </div>

      <!-- 요약 -->
      <div class="field">
        <label>요약</label>
        <textarea name="description" rows="3">{{ post.description }}</textarea>
      </div>

      <!-- 태그 -->
      <div class="field">
        <label>태그</label>
        <div class="ui multiple selection dropdown">
          <input name="new_tags" type="hidden" value="{{ post.get_tags_url }}">
          <i class="dropdown icon"></i>
          <div class="default text">태그</div>
          <div class="menu">
            {% for tag in tags %}
            <div class="item" data-value="{{ tag.url }}">{{ tag.url }}</div>
            {% endfor %}
          </div>
        </div>
      </div>

      <!-- 유형 -->
      <div class="field">
        <label>유형</label>
        <input type="text" name="posttype" value="{{ post.posttype }}"/>
      </div>

      <!-- 미리보기 이미지 -->
      <div class="field">
        <label>미리보기 이미지</label>
        <input type="text" name="preview" value="{{ post.preview }}"/>
      </div>

      <!-- 기타 설정 -->
      <div class="field">
        <a href="{% url 'storage-upload' %}">
          <button type="button" class="ui button">
            <i class="photo icon"></i>
            사진 올리기
          </button>
        </a>
        <div class="ui checkbox">
          <input type="checkbox" name="public_post" {% if post.public_post %}checked{% endif %}/>
          <label>공개 문서</label>
        </div>
      </div>

      <div class="fields">
        <div class="eight wide field">
          <input type="submit" name="submit_save" value="임시 저장" class="ui fluid large teal submit button" />
        </div>
        <div class="eight wide field">
          <input type="submit" name="submit_complete" value="완료" class="ui fluid large blue submit button" />
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
