* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}

a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

code {
    font-family: Hack, monospace;
    font-size: 85%;
    background-color: #f0f0f0;
    display: block;
    padding: 10px;
}

img:not(.share-button) {
    display: block;
    max-width: 512px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

li > img:not(.share-button) {
    position: relative;
    right: 20px;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 12px;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.blog-title,
.blog-tagline {
    margin: 0;
}
.blog-title {
    color: rgb(255, 255, 255);
}
.blog-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    text-align: center;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post-title {
    font-size: 2.5em;
    color: #222;
    font-weight: normal;
    padding-bottom: 0.5em;
}

.post-detail-title {
    text-align: center;
    font-size: 2.8em;
    color: #222;
    font-weight: normal;
}

.post-detail-pusher {
    width: 100%;
    padding: 2em;
    background-color: #f5f5f5;
}

.post-detail-container {
    background-color: #fcfcfc;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    max-width: 800px;
    margin: 0 auto 1em auto;
    padding: 4.5em;
}

.post-sub-container {
    background-color: #fcfcfc;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 1px;
    max-width: 800px;
    margin: 0 auto 1em auto;
    padding: 2em 4.5em 2em 4.5em;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}

.post-description {
    font-size: 110%;
    font-weight: normal;
    color: #444;
    line-height: 1.8em;
}

.post-description > p {
    line-height: 1.8em;
}

.post-meta {
    text-align: center;
    color: #999;
    font-size: 90%;
}

.post-tag {
    margin: 0 0.5em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

.reverse-link {
    color: black;
}

#menu-list {
    padding-left: 0;
}

ul.share-buttons{
    list-style: none;
    padding: 0;
}

.blog-container {
    background-color: #f5f5f5;
}

.post-container {
    background-color: #fcfcfc;
    margin: 8px 8px 24px 8px;
    padding: 24px;
}

.post-general {
    border-right-style: solid;
    border-right-color: #505050;
}

.post-notice {
    border-right-style: solid;
    border-right-color: #ff1111;
}

.post-tweet {
    border-right-style: solid;
    border-right-color: #00aced;
}

.comments {
    color: rgb(78, 143, 34);
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.post-meta {
    margin: 0.5em 0;
}

/* for tablet */
@media (min-width: 415px) and (max-width: 768px) {
    img {
        position: relative;
        max-width: 400px;
    }
}

/* for mobile */
@media (max-width: 414px) {
    ol {
        padding-left: 24px;
    }

    li > img:not(.share-button) {
        position: relative;
        right: 12px;
    }

    img:not(.share-button) {
        position: relative;
        max-width: 280px;
    }

    .post-detail-pusher {
        width: 100%;
        padding: 0.8em;
    }

    .post-sub-container {
        margin: 0 auto 0.5em 0;
        padding: 2em 1.2em;
    }

    .post-detail-container {
        margin: 0 auto 0.5em auto;
        padding: 2em 1.2em;
    }

    .post-detail-title {
        font-size: 2em;
    }
}
