* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    background-color: #fafafa;
    color: #555555;
    font-size: 13px;
}

.splash-container {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: lighter;
    color: #555555;
    border: 3px solid #555555;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: #555555;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .splash {
        width: 50%;
        height: 50%;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}