{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'error.css' %}">
<title>Error</title>
{% endblock %}
{% block content %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">404 NOT FOUND</h1>
        <p class="splash-subhead">
            페이지가 존재하지 않거나 삭제되었습니다.
        </p>
        <p>
            <a href="http://lynlab.co.kr" class="pure-button pure-button-primary">메인으로 돌아가기</a>
        </p>
    </div>
</div>
{% endblock %}