<h1 class="content-subhead">{{ object.category.name }}</h1>
<article class="post">
    <a href="{% url 'detail' object.id %}">
        <h2 class="post-title">
            {{ object.title }}
        </h2>
    </a>
    <p class="post-meta">
    	{{ object.created }}
    	{% if object.is_recent_post %}
    		<span class="post-tag post-tag-new">새 글</span>
    	{% endif %}
        {% if not object.public_post %}
            <span class="post-tag post-tag-unpublished">비공개</span>
        {% endif %}
    	{% for tag in object.split_tags %}
    		<span class="post-tag" style="display: inline-block">{{ tag }}</span>
	{% endfor %}
    </p>
    <div class="post-description">
    	{{ object.content|truncatechars:250|linebreaksbr }}
    </div>
</article>
