boto3 == 1.7.*
django==2.0.*
djangoajax
django-el-pagination
django-markup
django-storages == 1.6.*
django-registration == 2.3.*
twitter
python-dateutil
xmltodict==0.10.1
urllib3
certifi
python-magic==0.*
pymysql
newrelic==3.2.*
