{% extends 'base_lynlab.html' %}

{% block style %}
  .login.container {
    max-width: 320px;
    padding: inherit 0;
  }

  .login a {
    color: #1565C0;
  }

  .login .error {
    color: #F44336;
  }

  .login input {
    margin: 4px 0;
    width: calc(100% - 8px);
    height: 24px;
    font-size: 16px;
  }

  .login button {
    width: 100%;
  }
{% endblock %}

{% block head %}
  <title>로그인 | LYnLab</title>
{% endblock %}

{% block content %}
  <div class="login container">
    <h1>LYnLab에 로그인</h1>

    {% if form.errors %}
      <div class="error">
        존재하지 않는 계정이거나, 비밀번호가 일치하지 않습니다.
      </div>
    {% endif %}
  
    <form class="form-group" method="post" action=".">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"/>
      <p>
        <label>아이디</label><br/>
        <input class="form-input" name="username" type="text" maxlength="255">
      </p>
      <p>
        <label>비밀번호</label><br/>
        <input class="form-input" name="password" type="password">
      </p>
      <button class="primary-button">로그인</button>
    </form>
    <p>계정이 없으신가요? <a href="{% url 'registration_register' %}">회원가입</a></p>
  </div>
{% endblock %}