{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<title>로그인 | LYnLab</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="header">
            <h1>LYnLab 로그인</h1>
        </div>
        <div class="ui text container">
            <form class="ui large form" method="post" action=".">{% csrf_token %}
                <div class="ui stacked segment">
                    {% if form.errors %}
                    <div class="ui icon negative message">
                        <i class="warning circle icon"></i>
                        <div class="content">
                            <div class="header" id="error-msg">
                                로그인 실패
                            </div>
                            <p>존재하지 않는 계정이거나 비밀번호가 틀립니다.</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            {{ form.password }}
                        </div>
                    </div>
                    <input type="submit" value="로그인" class="ui fluid large teal submit button" />
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>

            <div class="ui message">
                계정이 없으신가요? <a href="/accounts/register/">회원가입</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}