{% extends 'base_spectre.html' %}
{% block head %}
  {% load staticfiles %}
  <title>회원가입 | LYnLab</title>
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block content %}
  <h1>LYnLab에 회원가입</h1>

  {% if form.errors %}
    <div class="toast toast-error">
      <button class="btn btn-clear float-right"></button>
      회원가입 중 오류가 발생했습니다. 조건을 확인한 후 다시 시도해주세요.
    </div>
  {% endif %}

  <form class="form-group" method="post" action=".">
    {% csrf_token %}
    <p>
      <label>
        아이디
        <input class="form-input" name="username" type="text" maxlength="255">
      </label>
    </p>
    <p>
      <label>
        이메일
        <input class="form-input" name="email" type="email">
      </label>
    </p>
    <p>
      <label>
        비밀번호
        <input class="form-input" name="password1" type="password">
      </label>
    </p>
    <p>
      <label>
        비밀번호 확인
        <input class="form-input" name="password2" type="password">
      </label>
    </p>
    <p>
      <button class="btn btn-primary input-group-bt">가입 완료!</button>
    </p>
  </form>
{% endblock %}