{% extends 'base_lynlab.html' %}

{% block head %}
  <title>{{ document.title }} 편집 | LYnWiki</title>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block style %}
  .container h3 {
    margin-bottom: 10px;
    font-weight: normal;
  }

  .container textarea {
    z-index: 0;
  }

  .container .permissions label {
    margin-right: 10px;
  }

  .container #save-btn {
    margin: 20px 0;
  }
{% endblock %}

{% block script %}
  new SimpleMDE({
    element: $("#field-content")[0],
    spellChecker: false,
    toolbar: ["bold", "italic", "heading", "|", "code", "quote", "unordered-list", "ordered-list", "|", "link", "image", "|", "preview", "fullscreen"]
  });
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ document.title }}</h1>
    <form class="ui form" action="#" method="post">
      {% csrf_token %}
      <input type="hidden" name="title" value="{{ document.title }}">

      <h3>본문</h3>
      <textarea id="field-content" name="content" rows="25">{{ document.content }}</textarea>

      <h3>문서 권한</h3>
      <div class="permissions">
        <input name="permission" value="3" {% if document.public %}checked="checked"{% endif %} type="radio">
        <label>전체공개</label>

        <input name="permission" value="2" {% if not document.permission or document.login_required %}checked="checked"{% endif %} type="radio">
        <label>로그인 유저만</label>

        <input name="permission" value="1" {% if document.admin_required %}checked="checked"{% endif %} type="radio">
        <label>관리자만</label>
      </div>

      <button class="primary-button" id="save-btn" >저장</button>
    </form>
  </div>
{% endblock %}