{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<title>메인 | LYnWiki</title>
<link rel="stylesheet" href="{% static 'welcome.css' %}">
{% endblock %}
{% block content %}
<!-- Page Contents -->
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="active item"><i class="home icon"></i>LYnWiki</a>
    <a class="item" href="{% url 'wiki-history' %}"><i class="history icon"></i>최근 변경</a>
</div>
<div class="main" id="main">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="active item">LYnWiki</a>
                <a class="item" href="{% url 'wiki-history' %}">최근 바뀜</a>
                <div class="right item">
                    {% if user.is_authenticated %}
                    <a class="ui inverted button" href="/accounts/logout?next=/wiki">로그아웃</a>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <a class="ui inverted button" href="/accounts/login?next=/wiki">로그인</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">LYnWiki</h1>
            <h2>{{ document_count }}개의 잡지식 집합소</h2>
            <form class="ui form wikiform" method="post" action="{% url 'wiki-search' %}">
                {% csrf_token %}
                <div class="ui icon input">
                    <input type="text" name="title" placeholder="검색어를 입력...">
                    <i class="inverted circular search link icon"></i>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}