<i class="close icon"></i>
<div class="header">내역 편집</div>
<div class="content">
    <form class="ui form" id="form-modify" method="post" action="{% url 'moneybook-modify' transaction.id %}">
        {% csrf_token %}
        <input type="hidden" name="type" value="{{ transaction.type }}">
        <div class="field">
            <label>사용처</label>
            <input name="place" type="text" value="{{ transaction.place }}">
        </div>
        <div class="field">
            <label>가격</label>
            <input name="price" type="number" value="{{ transaction.price }}">
        </div>
        <div class="field">
            <label>시각</label>
            <input name="timestamp" type="text" value="{{ transaction.timestamp }}">
        </div>
    </form>
</div>
<div class="actions">
    <div class="ui positive right labeled icon button">
        수정 완료 <i class="edit icon"></i>
    </div>
</div>