{% extends 'base_spectre.html' %}
{% block head %}
  <title>LYnStorage</title>
{% endblock %}
{% block content %}
  <h2>내 파일</h2>

  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="toast toast-success">
          <button class="btn btn-clear float-right"></button>
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <p>총 {{ total_count }}개의 파일이 있습니다.</p>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>파일명</th>
      <th>업로드 일자</th>
      <th>동작</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
      <tr>
        <td><a href="{% url 'storage-show' file.name %}">{{ file.name }}</a></td>
        <td>{{ file.modified_at }}</td>
        <td><a href="{% url 'storage-delete' file.name %}"><i class="fa fa-trash-alt"></i> 삭제</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}