{% extends 'base_lynlab.html' %}

{% block head %}
  <title>파일 업로드 | LYnStorage</title>
{% endblock %}

{% block style %}
input {
  margin: 4px 0;
  width: 100%;
  height: 24px;
  font-size: 16px;
}
{% endblock %}

{% block content %}
  <div class="container">
    <h1>파일 업로드</h1>
    <form class="form-group" action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}

      {% if form.name.errors %}
        <div class="toast toast-error">
          {{ form.name.errors.as_text }}
        </div>
      {% endif %}

      {% for field in form %}
        <p>
          {{ field.label_tag }}<br/>
          {{ field }}
        </p>
      {% endfor %}

      <p id="upload-button">
        <button class="primary-button">업로드</button>
      </p>
    </form>
  </div>
{% endblock %}