html * {
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'NanumSquare', sans-serif;
}

h1 {
    padding-top: 2.5rem;
    font-size: xx-large;
    font-weight: bold;
}

h2 {
    margin-bottom: 0.2rem;
}

p {
    margin-bottom: 0.5rem;
}

li {
    padding: 0.2rem 0;
}

.center.aligned {
    text-align: center;
}

.grey {
    text-decoration: line-through;
    color: #adb5bd;
}

.item-wrapper > .circle {
    position: relative;
    top: 2.25rem;
    width: 20px;
    height: 20px;
    background: #ced4da;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.item-wrapper > .circle.active {
    background: #4dadf7;
}

.filled.item-wrapper:nth-of-type(2n) {
    background-color: #f8f9fa;
}

.filled.item-wrapper:nth-of-type(2n+1) {
    background-color: #f1f3f5;
}

.item-wrapper > .item {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .main > * {
        padding-left: 5%;
        padding-right: 5%;
    }

    .item-wrapper > .timeline.item {
        margin-top: -20px;
        padding-left: 1.5rem;
        border-left: 2px solid #dee2e6;
    }

    .item-wrapper > .circle {
        left: -9px;
    }
}

@media only screen and (min-width: 769px) {
    .main > * {
        padding-left: 17.5%;
        padding-right: 17.5%;
    }

    .item-wrapper > .timeline.item {
        margin-top: -20px;
        padding-left: 1.5rem;
        border-left: 4px solid #dee2e6;
    }

    .item-wrapper > .circle {
        left: -8px;
    }
}