@import url(https://cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(http://cdn.jsdelivr.net/font-hack/2.013/css/hack.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

body { font-family: 'NanumBarunGothic', sans-serif; }

h1, h2, h3, h4, h5, h6 {
    font-family: 'NanumSquare', sans-serif;
}

.container.content {
	margin: 2rem 0;
}