{% extends 'base_lynlab.html' %}

{% block style %}
.filter.container {
  text-align: center;
}

.post-summary {
  display: flex;
}

.post-summary div {
  width: 100%;
}

.post-preview {
  margin: 15px 0 0 15px;
  max-width: 25%;
}

.post-title {
  margin-bottom: 0;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  font-size: 14px;
  color: #9e9e9e;
}

.post-description {
  line-height: 2.0;
}

.post-preview img {
  width: 100%;
  bottom: -100%;
}

@media only screen and (max-width: 768px) {
  .post-title {
    font-size: 24px;
  }

  .post-summary {
    flex-wrap: wrap;
  }
}
{% endblock %}

{% block content %}
  {% if post_filters.category %}
    <div class="filter container">
      <p><strong>카테고리</strong>로 검색한 결과입니다.</p>
      <a href="{% url 'blog' %}"><button id="square-button" type="button">전체 목록으로</button></a>
    </div>
  {% endif %}

  {% for post in posts %}
    <div class="post container">
      <h1 class="post-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h1>
      <div class="post-summary">
        <div>
          <p class="post-meta">
            <span><i class="far fa-clock"></i>&nbsp;{{ post.created|date:'Y. m. d' }}&nbsp;·&nbsp;</span>
            <span><i class="far fa-folder"></i>&nbsp;<a href="{% url 'blog' %}?category={{ post.category.id }}">{{ post.category.name }}</a>&nbsp;·&nbsp;</span>
            {% if post.series %}
            <span><i class="fas fa-list-ul"></i> <a href="#">{{ post.series.name }} 시리즈</a>&nbsp;·&nbsp;</span>
            {% endif %}
            <span><i class="fas fa-users"></i>&nbsp;{{ post.hitcount }}</span>
          </p>
          <p class="post-description">{{ post.description }}</p>
        </div>
        <div class="post-preview">
          {% if post.preview %}<img src="{{ post.preview }}">{% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
