{% if post.posttype == '0' %}
<div class="post-container post-general">
    <h1 class="content-subhead">{{ post.category.name }}</h1>
    <article class="ui items post">
        <div class="ui item">
            <div class="content">
                <a href="{% url 'detail' post.id %}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                </a>
                <div class="post-description">
                    {{ post.description|truncatechars:250|linebreaksbr }}
                    </div>
            </div>
            {% if post.preview %}
            <div class="image">
                <img class="ui image" src="{{ post.preview }}">
            </div>
            {% endif %}
        </div>
        <div class="ui divider"></div>
        <p class="post-meta">
            <i class="wait icon"></i>
            {{ post.created }}
            <i class="comments icon"></i>
            <a class="comments" href="{% url 'detail' post.id %}#disqus_thread">댓글 없음</a>
            {% if post.is_recent_post %}
                <a class="ui mini red tag label">새 글</a>
            {% endif %}
            {% if not post.public_post %}
                <a class="ui mini blue tag label">비공개</a>
            {% endif %}
            {% for tag in post.split_tags %}
                <a class="ui mini tag label">{{ tag }}</a>
            {% endfor %}
        </p>
    </article>
</div>
{% endif %}

{% if post.posttype == '1' %}
<div class="post-container post-notice">
    <h1 class="content-subhead">NOTICE</h1>
    <article class="ui item post">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        <div class="post-description">
            {{ post.description|truncatechars:250|linebreaksbr }}
        </div>
    </article>
</div>
{% endif %}

{% if post.posttype == 'tweet' %}
<div class="post-container post-tweet">
    <h1 class="content-subhead"><i class="twitter icon"></i>TWEET</h1>
    <article class="ui item post">
        <div class="post-description">
            {{ post.description|linebreaksbr }}
        </div>
    </article>
    <div class="ui divider"></div>
    <p class="post-meta">
        <i class="wait icon"></i>
        {{ post.created }} | 
        <a href="https://twitter.com/intent/tweet?in_reply_to={{ post.tags }}" style="color: #999">
            <i class="reply icon"></i>
        </a>
        <a href="https://twitter.com/intent/retweet?tweet_id={{ post.tags }}" style="color: #999">
            <i class="retweet icon"></i>
        </a>
        <a href="https://twitter.com/intent/like?tweet_id={{ post.tags }}" style="color: #999">
            <i class="heart icon"></i>
        </a>
    </p>
</div>

<script>loadTwitterApi();</script>
{% endif %}
