<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <a href="{% url 'home' %}"><h1 class="blog-title">LYnTimeline</h1></a>
        <h2 class="blog-tagline">with Computer Science &amp; Subculture</h2>
        <div class="ui right aligned vertical footer segment">
            <div class="pure-menu pure-menu-horizontal">
                <ul id="menu-list">
                    <button class="ui inverted circular violet icon button" onclick="location.href='http://facebook.com/HelloDHLyn/';">
                        <i class="facebook icon"></i>
                    </button>
                    <button class="ui inverted circular blue icon button" onclick="location.href='http://twitter.com/HelloDHLyn/';">
                        <i class="twitter icon"></i>
                    </button>
                    <button class="ui inverted circular white icon button" onclick="location.href='http://github.com/HelloDHLyn/';">
                        <i class="github icon"></i>
                    </button>
                    <button class="ui inverted circular red icon button" onclick="location.href='mailto:hellodhlyn@gmail.com';">
                        <i class="mail icon"></i>
                    </button>
                </ul>
            </div>
        </div>
    </div>
</div>