{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<title>LYnTimeline</title>
{% endblock %}
{% block content %}
<div id="layout" class="pure-g">
    {% include 'blog/_sidebar.html' %}
    <div class="content pure-u-1 pure-u-md-3-4 blog-container">
        <div class="posts">
            <div class="endless_page_template">
                {% include page_template %}
            </div>

            {% block js %}
                {{ block.super }}
                <script src="{% static 'js/el-pagination.js' %}"></script>
                <script>$.endlessPaginate({paginateOnScroll: true});</script>
            {% endblock %}
        </div>
        <ul class="category">
            {% for category in categories %}
                <li>
                    <a href="{% url 'home' %}?category={{ category.id }}">
                        {{ category.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script id="dsq-count-scr" src="//lynlab.disqus.com/count.js" async></script>
{% endblock %}
