{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'main.css' %}">
<script src="{% static 'js/blog.js' %}"></script>
<title>LYnTimeline</title>
{% endblock %}
{% block content %}
<div id="layout" class="pure-g">
  {% include 'blog/_sidebar.html' %}
  <div class="contents pure-u-1 pure-u-md-3-4 blog-container">
    {% if search_tag %}
    <div id="search-filter">
      <p><strong>태그:{{ search_tag }}</strong>로 검색된 결과입니다.</p>
      <p><a href="{% url 'blog' %}">전체 목록으로 돌아가기</a></p>
    </div>
    {% endif %}
    <div class="posts">
      
    </div>
  </div>
</div>
<div class="ui basic modal" id="filter-modal">
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="filter icon"></i>
    거름망 설정하기
  </div>
  <div class="content">
    <div class="description">
      <p>보고 싶지 않은 글의 종류를 꺼서 걸러내세요.<br/>
        (하얀색의 분류에 하나라도 해당하는 글은 모두 걸러집니다.)</p>
      <div class="posttypes">
      {% for type in types %}
        <button class="ui inverted compact labeled {% if type.default %}blue{% endif %} icon filter button" onclick="toggleFilterButton({{ type.id }})" id="filter{{ type.id }}">
          <i class="{{ type.icon }} icon"></i>
          {{ type.name }}
        </button>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui red basic inverted deny button">
      <i class="remove icon"></i>
      취소
    </button>
    <button class="ui green basic inverted approve button">
      <i class="checkmark icon"></i>
      완료
    </button>
  </div>  
</div>
<script id="dsq-count-scr" src="//lynlab.disqus.com/count.js" async></script>

{% if search_tag %}
<script type="text/javascript">loadPosts(1, 'tag', '{{ search_tag }}');</script>
{% else %}
<script type="text/javascript">loadPosts(1);</script>
{% endif %}
{% endblock %}
