{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'wiki.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
<script src="{% static 'js/wiki.js' %}"></script>
<title>편집 역사 | LYnWiki</title>
{% endblock %}
{% block content %}
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="active item" href="/wiki"><i class="home icon"></i>LYnWiki</a>
    <a class="item" href="/wiki/random"><i class="random icon"></i>랜덤</a>
    <a class="item" href=".."><i class="history icon"></i>편집 역사</a>
</div>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon" onclick="onClickMenu()"></i>
                </a>
                <a class="active item" href="/wiki">LYnWiki</a>
                <a class="item" href="/wiki/random">랜덤</a>
                <a class="item" href="..">편집 역사</a>
                <div class="right item wikiform titlebar" style="padding: 0">
                    <form class="ui form" name="wikiForm" method="post" action="/v1/wiki/search/">
                        {% csrf_token %}
                        <div class="ui icon input">
                            <input class="navbar-search" type="text" name="title" placeholder="검색어를 입력...">
                            <i class="inverted circular search link icon" onclick="wikiForm.submit()"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <h1>{{ title }}</h1>
        <h2>변경 내역 보기</h2>
    </div>
    <div class="content article-description">
        {% for line in diff %}
        <code>
            {{ line }}
        </code>
        {% endfor %}
    </div>
</div>
{% endblock %}