{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<title>메인 | LYnWiki</title>
<link rel="stylesheet" href="{% static 'wiki.css' %}">
<script src="{% static 'js/wiki.js' %}"></script>
{% endblock %}
{% block content %}
<!-- Page Contents -->
<div class="ui left demo vertical inverted sidebar labeled icon menu">
    <a class="active item"><i class="home icon"></i>LYnWiki</a>
    <a class="item" href="/wiki/random"><i class="random icon"></i>랜덤</a>
    <a class="item" href="/wiki/history"><i class="history icon"></i>최근 변경</a>
    <a class="item" href="/blog/"><i class="coffee icon"></i>블로그</a>
</div>
<div class="pusher" id="main">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon" onclick="onClickMenu()"></i>
                </a>
                <a class="active item">LYnWiki</a>
                <a class="item" href="/wiki/random">랜덤</a>
                <a class="item" href="/wiki/history">최근 변경</a>
                <a class="item" href="/blog/">블로그</a>
                <div class="right item">
                    <a class="github-button" href="https://github.com/HelloDHLyn/lynlab" data-count-href="/HelloDHLyn/lynlab/watchers" data-count-api="/repos/HelloDHLyn/lynlab#subscribers_count" data-count-aria-label="# watchers on GitHub" aria-label="Watch HelloDHLyn/lynlab on GitHub">Watch</a>
                    {% if user.is_authenticated %}
                    <a class="ui inverted button" href="/accounts/logout">로그아웃</a>
                    {% endif %}
                    {% if not user.is_authenticated %}
                    <a class="ui inverted button" href="/accounts/login">로그인</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui inverted header">
                LYnWiki α
            </h1>
            <h2>전 지구상의 잡지식 집합소</h2>
            <form class="ui form wikiform" name="wikiForm" method="post" action="/v1/wiki/search/">
                {% csrf_token %}
                <div class="ui icon input">
                    <input type="text" name="title" placeholder="검색어를 입력...">
                    <i class="inverted circular search link icon" onclick="wikiForm.submit()"></i>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
{% endblock %}