{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'wiki.css' %}">
<link rel="stylesheet" href="{% static 'article.css' %}">
{% endblock %}
{% block content %}
	<div class="pusher">
	    <div class="ui inverted vertical masthead center aligned segment">
	        <div class="ui container">
	            <div class="ui large secondary inverted pointing menu">
	                <a class="toc item">
	                    <i class="sidebar icon"></i>
	                </a>
	                <a class="active item" href="/wiki">LYnWiki</a>
	                <a class="item" href="/wiki/random">랜덤</a>
	                <a class="item" href="../">본문 보기</a>
	                <a class="item" href="../history">편집 역사</a>
	                <div class="right item wikiform titlebar" style="padding: 0">
	                    <form class="ui form" name="wikiForm" method="post" action="/v1/wiki/search/">
	                        {% csrf_token %}
	                        <div class="ui icon input">
	                            <input class="navbar-search" type="text" name="title" placeholder="검색어를 입력...">
	                            <i class="inverted circular search link icon" onclick="wikiForm.submit()"></i>
	                        </div>
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="header">
        <h1>{{ title }}</h1>
    </div>
    <div class="content article-description">
    	<p><a href="/wiki/LYnWiki:문법/">이 문서</a>를 통해 사용되는 문법을 확인하실 수 있습니다. (작성중)</p>
    	<form class="ui form" action="/v1/wiki/modify/" method="post">
    		{% csrf_token %}
    		<input type="hidden" name="title" value={{ title }}>
	        <div class="field">
				<label>본문</label>
				<textarea name="content" rows="15">{{ content }}</textarea>
			</div>
			<div class="field">
				<input type="submit" value="수정 완료!" class="ui fluid large blue submit button" />
			</div>
    	</form>
    </div>
{% endblock %}