<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item" href="/wiki">LYnWiki</a>
                <a class="item" href="/blog">Blog</a>
                <div class="right item">
                    <a class="ui inverted button" href="/accounts/login">로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>