{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'error.css' %}">
<title>Error</title>
{% endblock %}
{% block content %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">403 FORBIDDEN</h1>
        <p class="splash-subhead">
            접근 권한이 없습니다.
        </p>
        <p>
            <a href="javascript:history.back()" class="pure-button pure-button-primary">이전으로 돌아가기</a>
        </p>
    </div>
</div>
{% endblock %}