{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
<title>About | LYnLab</title>
{% endblock %}
{% block content %}
<div class="main">
    <div class="item-wrapper">
        <div class="center aligned">
            <h1>About: LYn</h1>
        </div>
        <div class="ui divider"></div>
    </div>

    <h1><i class="fa fa-building"></i> 경력 / 학력</h1>
    <div class="filled item-wrapper">
        <div class="active circle"></div>
        <div class="timeline item">
            <h2>두나무 주식회사</h2>
            <p>
                2016. 03 ~ 재직<br/>
                Android → Backend Developer
            </p>
            <ul>
                <li>카카오스탁 서버 개발 및 운영 (現)</li>
                <li>포털 Daum 금융 서버 개발 및 운영 (現)</li>
                <li>카카오스탁 안드로이드 앱 개발 / 유지보수 (2016. 03 ~ 10)</li>
                <li><del>신규 서비스 안드로이드 앱 개발 전담</del> → 서비스 공중분해</li>
            </ul>
        </div>
    </div>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>SW마에스트로 과정</h2>
            <p>2015. 06 ~ 12</p>
        </div>
    </div>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>연세대학교 컴퓨터과학과</h2>
            <p>2014. 03 ~ 휴학</p>
            <ul>
                <li>Computational Intelligence & Photography 연구실 학부생 인턴 (2016)</li>
                <li>공과대학 프로그래밍 동아리 PoolC 대표 (2015 ~ 2016)</li>
            </ul>
        </div>
    </div>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>경남과학고등학교</h2>
            <p>2012. 03 ~ 2014. 02 (조기졸업)</p>
        </div>
    </div>

    <h1><i class="fa fa-id-card-o"></i> 수상 / 자격</h1>
    <div class="filled item-wrapper">
        <div class="item">
            <ul>
                <li><b>2016</b> : 국가기술자격 정보처리산업기사</li>
                <li><b>2015</b> : JLPT 일본어능력시험 N2</li>
                <li><b>2014</b> : 특허등록 제1635167호 (<a href="https://goo.gl/7J9tI2">링크</a>)</li>
                <li><b>2014</b> : 제20회 삼성휴먼테크논문대상 고교부문 수학/전산분야 <strong>금상</strong></li>
                <li><b>2009 ~ 2013</b> : 한국정보올림피아드 <strong>금, 은, 동상</strong>(지역), <strong>장려상</strong></li>
            </ul>
        </div>
    </div>

    <h1><i class="fa fa-stack-overflow"></i> 기술 스택</h1>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>서버 / 백엔드</h2>
            <ul>
                <li>Java + Groovy</li>
                <li>Spring Framework, Spring Boot</li>
                <li>Ruby on Rails (걸음마 정도...)</li>
                <li>Apache Kafka</li>
                <li>JPA / Hibernate</li>
                <li>MySQL, PostgreSQL</li>
            </ul>
            <p>관련 서비스 - <a href="http://kakao.com/stock">카카오스탁</a></p>
        </div>
    </div>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>인프라 / 보안</h2>
            <ul>
                <li>개인용 클라우드 서버 5대 구축, 운용중</li>
                <li>100+ 대의 IDC 서버 운용 경험</li>
                <li>Docker, Docker Compose</li>
                <li>Serverless Infrastructure (AWS Lambda + DynamoDB)</li>
            </ul>
        </div>
    </div>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>안드로이드 앱 개발</h2>
            <ul>
                <li>Java 8</li>
                <li>RxJava + retrolambda</li>
                <li>Realm Mobile Database</li>
                <li>각종 오픈 소스 라이브러리 (okhttp3, retrofit)</li>
            </ul>
            <p>관련 서비스 - <a href="http://kakao.com/stock">카카오스탁 애플리케이션</a> / 결함찾기</p>
            <p><span class="grey">부끄러운</span> 지역 언론사 인터뷰 기사 - <a href="http://www.knnews.co.kr/news/articleView.php?idxno=889905">경남신문</a> / <a href="http://www.gndomin.com/news/articleView.html?idxno=43019">경남도민신문</a> </p>
        </div>
    </div>
    <div class="filled item-wrapper">
        <div class="circle"></div>
        <div class="timeline item">
            <h2>웹 개발</h2>
            <ul>
                <li>Django, Flask</li>
            </ul>
            <p>관련 서비스 - <a href="https://github.com/HelloDHLyn/lynlab"><i class="github icon"></i>LYnLab</a> / <a href="http://doughsam.com/">도우샘</a></p>
        </div>
    </div>
</div>
{% endblock %}