{% extends 'base_lynlab.html' %}
{% block head %}
  <title>Error | LYnLab</title>
{% endblock %}

{% block style %}
#error-view {
  padding: 100px 0;
  text-align: center;
}

#error-view i {
  font-size: 72px;
}

#error-message {
  margin-bottom: 0;
}

#error-hint {
  margin: 4px 0 24px 0;
}
{% endblock %}

{% block content %}
  <div id="error-view">
    <i class="fas fa-exclamation-triangle"></i>
    <h1 id="error-message">{% block error_title %}{% endblock %}</h1>
    <p id="error-hint">{% block error_description %}{% endblock %}</p>

    <a href="/"><button class="square-button" type="button">메인으로</button></a>
  </div>
{% endblock %}
