{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="qsge0CQmLyeoE557CzeBrzTJ2WI1657njG1ZE-IS-wk"/>
  <meta name="naver-site-verification" content="3bb494b2eba12c40a14fd6864f8028706bbb3cc5"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-nanumlight/1.0/nanumbarungothicweb.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.013/css/hack.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="{% static 'js/analytics.js' %}"></script>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"/>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
<div class="spectre container grid-md">
  {% block content %}
  {% endblock %}
</div>
</body>
</html>
