{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'welcome.css' %}">
<script src="{% static 'welcome.js' %}"></script>
{% endblock %}
{% block content %}
<div class="ui inverted vertical masthead center aligned segment">
	<div class="ui container">
		<div class="ui large secondary inverted pointing menu">
			<a class="toc item">
				<i class="sidebar icon" onclick="onClickMenu()"></i>
			</a>
			<a class="active item">LYnLab</a>
			<a class="item" href="{% url 'blog' %}">블로그</a>
			<a class="item" href="{% url 'wiki-main' %}">위키</a>
			<a class="item" href="{% url 'about' %}">포트폴리오</a>
			<div class="right item">
				{% if user.is_authenticated %}
				<a class="ui inverted button" href="/accounts/logout">로그아웃</a>
				{% endif %}
				{% if not user.is_authenticated %}
				<a class="ui inverted button" href="/accounts/login">로그인</a>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="ui text container">
		<h1 class="ui inverted header">LYn (Do Hoerin)</h1>
		<h2>대한민국의 평범한 9년차 개발자 대학생</h2>
		<div class="portal">
			<div class="item"><i class="marker icon"></i>Seoul, KOREA</div>
			<div class="item"><i class="phone icon"></i>+82-10-8896-5803</div>
			<div class="item"><i class="mail icon"></i><a href="mailto:lyn@lynlab.co.kr">lyn@lynlab.co.kr</a></div>
			<div class="item">
				<a href="http://facebook.com/HelloDHLyn">
					<i class="facebook square icon"></i>
				</a>
				<a href="http://twitter.com/HelloDHLyn">
					<i class="twitter icon"></i>
				</a>
				<a href="http://github.com/HelloDHLyn">
					<i class="github icon"></i>
				</a>
				<a href="https://www.youtube.com/channel/UCHXaBp42unCxr9t7WWBdE_w">
					<i class="youtube play icon"></i>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}