code {
    font-size: 95%;
    font-family: Hack, monospace;
    background-color: #f0f0f0;
    display: block;
    padding: 10px;
}

.article-description {
    margin-top: 2em;
    font-size: 110%;
    font-weight: normal;
    color: #444;
    line-height: 1.8em;
}

.article-description > p {
    line-height: 1.8em;
}

.article-description > p > img {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.reverse-link {
    color: black;
}

.inline-profile {
    margin-left: 1em;
}

.inline-profile > tbody > tr > td {
    padding: 0 0.3em;
}

.inline-profile > tbody > tr > td:first-child {
    min-width: 90px;
    font-weight: bold;
}

.embed {
    margin: 2em 0;
    text-align: center;
}

/* for tablet */
@media (max-width: 700px) {
    .article-description > p > img {
        max-width: 320px;
    }
}

/* for mobile */
@media (max-width: 400px) {
    .article-description > p > img {
        max-width: 320px;
    }
}