.article-description {
    margin-top: 2em;
    font-size: 110%;
    font-weight: normal;
    color: #444;
    line-height: 1.8em;
}

.article-description > p {
    line-height: 1.8em;
}

.article-description > p > img {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}