{% extends 'base.html' %}
{% block style %}
{% load staticfiles %}
<title>LYnDashboard</title>
<script type="text/javascript" src="{% static 'js/notify.js' %}"></script>
<script type="text/javascript" src="{% static 'dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard.css' %}">
{% endblock %}
{% block content %}
<div class="ui inverted vertical masthead center aligned segment">
	<div class="ui container">
		<div class="ui large secondary inverted pointing menu">
			<a class="active item" href="/">LYnDashboard</a>
		</div>
	</div>
</div>
<div class="contents-container">
	<h1>버스 도착 정보</h1>
	<div class="dashboard-buses"></div>
</div>
{% endblock %}